/* common shared styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Work+Sans&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: auto;


}

.common-p p {
    color: #3C354F;
    font-size: 18px;

}

.h1-style h1 {
    color: #0B0223;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;


}

.common-span span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* navbar section */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo,
.menu-bar,
.follow-us,
.play-instantly {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

}

.logo h2 {
    color: #0B0223;
    font-size: 45px;
}

.logo,
.footer-logo span {
    color: #FF42A5;
}

.menu-bar {
    color: #3C354F;
    font-size: 18px;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.8rem 1.2rem;

}

.follow-us a {
    color: red;
    text-decoration: none;
}

/* header section */

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: auto;

}

.header-details span {
    font-size: 85px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.header-details p>i {
    color: #FF42A5;
    margin-right: 10px;
}

/* button */
button {
    font-size: 1rem;
    padding: 1.2rem 2.3rem;
    border-radius: 48px;
    border: none;
    background-color: #FF42A5;
}

button:hover {
    background-color: #534C64;
    cursor: pointer;

}

.btn-go {
    background-color: #4EC5F7;
}

/* favorite games */

.favorite-games {
    text-align: center;
    margin: 3rem auto;

}

.games-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;

}

.games-card p {
    font-size: 1.5rem;
    font-weight: 900;
}

.card {
    position: relative;
}

.text-hover {
    display: none;

}

.icon {
    font-size: 2rem;
    color: #4EC5F7
}

.text-hover>.text {
    font-size: 1.5rem;
    color: #FF42A5;
}

.card:hover>.text-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    position: absolute;
    top: 0%;
    width: 73%;
    margin-left: 4rem;
    background: #000000a3;
    height: 84%;
    border-radius: 14px;
    gap: 0.8rem;
}


/* PLAY INSTANTLY */
.play-content {
    margin-bottom: 25rem;
    line-height: 2rem;
}

.play-badge {
    text-align: left;
    position: relative;
    bottom: 18rem;
    width: 100%;
    right: 10rem;
}

/* /game type */
.game-type {
    gap: 2rem;
    position: relative;
    bottom: 18rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 10rem 0;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.type-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    gap: 2rem;
    color: #0B0223;
    font-size: 1rem;
    padding: 1rem 1rem;
    border: 1.5px solid transparent;
    background: #FFF;
    margin: 1rem;
}

.type-content:hover {
    border: 1.5px solid #FF42A5;
    color: #FF42A5;
    cursor: pointer;

}

/* footer style */

footer {
    background-color: #0B0223;
    position: relative;
    bottom: 18rem;
    text-align: center;
    padding: 4rem;

}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 2rem;
}

.about-information {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem 8rem;
    color: #FFF;
}

.footer-icon {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    font-size: 1rem;
    cursor: pointer;

}


.footer-icon a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #f3f3f3;


}

.footer-icon a:hover {
    background-color: ;
}

.policy {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin: 2rem 16rem;

}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
}