/* common shared styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Work+Sans&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: auto;


}

.common-p p {
    color: #3C354F;
    font-size: 18px;

}

.h1-style h1 {
    color: #0B0223;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;


}

.common-span span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* navbar section */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo,
.menu-bar,
.follow-us,
.play-instantly {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

}

.logo h2 {
    color: #0B0223;
    font-size: 45px;
}

.logo,
.footer-logo span {
    color: #FF42A5;
}

.menu-bar {
    color: #3C354F;
    font-size: 18px;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.8rem 1.2rem;

}

.follow-us a {
    color: red;
    text-decoration: none;
}

/* header section */

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 1.5rem; */
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: auto;

}

/* .header-img {
    width: 100%;
} */
.header-details span {
    font-size: 85px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.header-details p>i {
    color: #FF42A5;
    margin-right: 10px;
}

/* button */
button {
    font-size: 1rem;
    padding: 1.2rem 2.3rem;
    border-radius: 48px;
    border: none;
    background-color: #FF42A5;
}

button:hover {
    background-color: #534C64;
    cursor: pointer;

}

.btn-go {
    background-color: #4EC5F7;
}

/* favorite games */

.favorite-games {
    text-align: center;
    margin: 3rem auto;

}



.games-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.games-card p {
    font-size: 1.5rem;
    font-weight: 900;
}

/* .games-card>.card>img {
    opacity: 1;
    backface-visibility: hidden;
} */

.games-card>.card>img:hover {
    color: #0B0223;
    opacity: 0.2;
    cursor: pointer;
    border-radius: 16px;
    border: 4px solid var(--Linear, #FF42A5);

}

.text-hover {
    opacity: 100%;
    position: absolute;
    top: 100;
    left: 100;
    /* translate: 170px -310px; */
    transform: translate(170px, -300px);
    text-align: center;
}


.icon {
    font-size: 2rem;
    color: #4EC5F7
}

.text-hover>.text {
    font-size: 1.5rem;
    color: #FF42A5;
}

.games-card>.card>img:hover .text-hover {
    /* opacity: 100%; */
    visibility: visible;
}

/* .text-hover:hover {
    opacity: 100%;
} */

/* PLAY INSTANTLY */
.play-content {
    margin-bottom: 25rem;
    line-height: 2rem;
}

.play-badge {
    text-align: left;
    position: relative;
    bottom: 18rem;
    width: 100%;
    right: 10rem;
}

/* /game type */
.game-type {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1rem 7rem;
    gap: 2rem;
    position: relative;
    bottom: 12rem;
}

.type-content {
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    color: #0B0223;
    font-size: 1rem;
    padding: 0 1rem;
    border: 1.5px solid #d6d3d4;
    background: #FFF;
}

.type-content:hover {
    border: 1.5px solid #FF42A5;
    color: #FF42A5;
    cursor: pointer;

}

/* footer style */

footer {
    background-color: #0B0223;
    position: relative;
    bottom: 5rem;
    text-align: center;
    padding: 4rem;



}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    color: #FFF;
    font-size: 2rem;
}

.about-information {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem 8rem;
    color: #FFF;
}


.footer-icon a {
    text-decoration: none;
    font-size: 3rem;
    color: #f3f3f3;
    letter-spacing: 4rem;

}

.policy {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin: 2rem 16rem;

}

.copy-right {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
}





/* Responsive website */

/* small device */
@media screen and (max-width: 576px) {

    .navbar,
    .menu-bar,
    .play-instantly {
        flex-direction: column;
    }

    .menu-bar {
        gap: 0;
    }

    .header-container {
        flex-direction: column-reverse;
        margin: 1.5rem;
        gap: 1.5rem;
        background-size: 100%;
        background-position: bottom left;
    }

    .header-container img {
        width: 100%;
    }

    .header-details {
        margin-bottom: 1rem;
    }

    .header-details h1 {
        font-size: 30px;
    }

    .header-details span {
        font-size: 50px;
    }

    .header-details p {
        font-size: 0.8rem;
    }

    button {
        font-size: 0.5rem;
        padding: 1rem 2rem;
    }

    .games-card {
        grid-template-columns: 1fr;
    }

    .play-instantly {
        text-align: center;
    }

    .play-content {
        margin-bottom: 0;
    }

    .play-img img {
        /* margin: 2rem; */
        max-width: 80%;
        height: auto;
        /* border: 1px solid red; */
    }

    .play-badge {
        max-width: 40%;
        margin-top: 10rem;
        left: 1rem;
    }

    .game-type {
        margin: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

    }

    .type-content {
        font-size: 0.5rem;
        padding: 0 0.1rem;
    }

    .type-content img {
        width: 30%;
    }

    .about-information {
        grid-template-columns: repeat(3, 1fr);
        font-size: 1rem;
        margin: 0%;
        padding-bottom: 1rem;
    }

    .footer-icon a {
        font-size: 1rem;

    }

    .footer-icon {
        text-align: right;
        margin-left: 40px;

    }

    .policy {
        grid-template-columns: repeat(2, 1fr);
        margin: 0%;
        font-size: 0.7rem;

    }






}

/* medium device */
@media screen and (min-width:576px) and (max-width: 992px) {

    .navbar,
    .play-instantly {
        flex-direction: column;
    }

    .header-container {
        flex-direction: column-reverse;
        margin: 1.5rem;
        gap: 6rem;
        background-size: 100%;
        background-position: bottom -100px left;
    }

    .header-details {
        margin-bottom: 3.5rem;
    }

    .favorite-games {
        width: 100%;
    }

    .games-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .play-content {
        text-align: center;
        margin-bottom: 0%;
    }

    .play-badge {
        /* max-width: 10%; */
        margin-left: 7rem;
        margin-top: 3rem;

    }

    .play-badge img {
        max-width: 40%;
    }

    .game-type {
        margin: 2rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .type-content {
        font-size: 0.7rem;
        padding: 0 0.5rem;
    }

    .type-content img {
        width: 35%;
    }

    .about-information {
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.5rem;
        margin: 0%;
        padding-bottom: 1rem;
    }

    .footer-icon a {
        font-size: 1.5rem;

    }

    .footer-icon {
        text-align: right;
        margin-left: 40px;
        margin-bottom: 1rem;

    }

    .policy {
        margin: 0%;
        font-size: 1rem;

    }




}